

; ===== CLUBS =====
c_2   RCDATA "Clubs\\2.png"
c_3   RCDATA "Clubs\\3.png"
c_4   RCDATA "Clubs\\4.png"
c_5   RCDATA "Clubs\\5.png"
c_6   RCDATA "Clubs\\6.png"
c_7   RCDATA "Clubs\\7.png"
c_8   RCDATA "Clubs\\8.png"
c_9   RCDATA "Clubs\\9.png"
c_10  RCDATA "Clubs\\10.png"
c_J   RCDATA "Clubs\\J.png"
c_Q   RCDATA "Clubs\\Q.png"
c_K   RCDATA "Clubs\\K.png"
c_A   RCDATA "Clubs\\A.png"

; ===== HEARTS =====
h_2   RCDATA "Hearts\\2.png"
h_3   RCDATA "Hearts\\3.png"
h_4   RCDATA "Hearts\\4.png"
h_5   RCDATA "Hearts\\5.png"
h_6   RCDATA "Hearts\\6.png"
h_7   RCDATA "Hearts\\7.png"
h_8   RCDATA "Hearts\\8.png"
h_9   RCDATA "Hearts\\9.png"
h_10  RCDATA "Hearts\\10.png"
h_J   RCDATA "Hearts\\J.png"
h_Q   RCDATA "Hearts\\Q.png"
h_K   RCDATA "Hearts\\K.png"
h_A   RCDATA "Hearts\\A.png"

; ===== SPADES =====
s_2   RCDATA "Spades\\2.png"
s_3   RCDATA "Spades\\3.png"
s_4   RCDATA "Spades\\4.png"
s_5   RCDATA "Spades\\5.png"
s_6   RCDATA "Spades\\6.png"
s_7   RCDATA "Spades\\7.png"
s_8   RCDATA "Spades\\8.png"
s_9   RCDATA "Spades\\9.png"
s_10  RCDATA "Spades\\10.png"
s_J   RCDATA "Spades\\J.png"
s_Q   RCDATA "Spades\\Q.png"
s_K   RCDATA "Spades\\K.png"
s_A   RCDATA "Spades\\A.png"

; ===== DIAMONDS =====
d_2   RCDATA "Diamonds\\2.png"
d_3   RCDATA "Diamonds\\3.png"
d_4   RCDATA "Diamonds\\4.png"
d_5   RCDATA "Diamonds\\5.png"
d_6   RCDATA "Diamonds\\6.png"
d_7   RCDATA "Diamonds\\7.png"
d_8   RCDATA "Diamonds\\8.png"
d_9   RCDATA "Diamonds\\9.png"
d_10  RCDATA "Diamonds\\10.png"
d_J   RCDATA "Diamonds\\J.png"
d_Q   RCDATA "Diamonds\\Q.png"
d_K   RCDATA "Diamonds\\K.png"
d_A   RCDATA "Diamonds\\A.png"


Backcard RCDATA "Backcard.png"
Background RCDATA "background.bmp"
